html, body{
    height:100%;
    margin:0;
    overflow:hidden;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.logo{
    padding-top:10%;
    padding-left:8%;
    font-size:55px;
    font-weight:900;
    cursor:pointer;
}

.map{
    margin:0;
    padding:0;
    display:flex;
}

svg{
    flex:1;
    padding:0;
    padding-top:5%;
    margin:0;
    height:700px;
}




.tile {
    cursor: pointer;
}        
text {
    cursor: pointer;
}        
.item-list:hover{
    background-color:rgba(93,93,93,0.6);

}
.item-list{
color : #3d3d3d;
    position: relative;
    cursor: pointer;
    display: block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    transition: .3s ease-out;

}
